<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= videogame.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>

    <h1><%= videogame.name %> </h1>    
    <br>
    <p>DESCRIPTION: <%= videogame.description %> </p>
    <p>RELEASE DATE: <%= videogame.release_date %> </p>
    <p>RATING: <%= videogame.rating %> </p>
    <p>PLATFORM: <%= videogame.platform %> </p>
    

</body>
</html>